version: "2.0"
services:
  installer:
    environment:
      DOMAIN: magento1.ngrok.io
      MYSQL_USER: root
      MYSQL_PASSWORD: pw
      DEV_ENV: jlo
      DEV_EMAIL: julienloizelet@okaeli.com
  apache2:
    volumes:
      - /some/path/for/your-project-sources/:/var/www/html/web/
    environment:
      XDEBUG_CONFIG: remote_host=10.1.156.27
      PHP_IDE_CONFIG: "serverName=magento1.ngrok.io"
      DOMAIN: magento1.local
      DOMAIN_ALIAS: magento1.ngrok.io
